<!DOCTYPE html>
<html lang="en">
<head>
    <title>All Time Starting 5</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Express To-Do</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
</head> 

<body>
    <h1>All Time Starting 5</h1>
    <ul id='nav' >
        <li class='nav'><a class='nav' href="">MY LINEUPS</a></li>
        <li class='nav'><a class='nav' href='/users/new'>CREATE A NEW LINEUP</a></li>
        <li class='nav'><a class='nav' href="/users">ALL LINEUPS</a></li>
        <li class='nav'><a class='nav' href="">TOP RANKED LINEUPS</a></li>
        <li class='nav'>
        </li>
      </ul>
      <form action="/comments/lineupcomment/<%= id %>" method="POST">
        <textarea name="comment" class="white-text"></textarea>
        <button type="submit" class="btn white-text">Add Comment</button>
      </form>
      <% lineup.comment.forEach( c => { %> 
        <ul>
        <li><%= c.comment %><form action="/lineups/<%= lineup._id %>?_method=DELETE" method="POST" class="secondary-content">
          <button type="submit" class="btn-small red-text">DELETE COMMENT</button>
        </form></li>
      </ul>
      <% }) %>
</body>
</html>